.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
}

.bigContainer {
    background-color: lightcyan;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 50px;
}

.button {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    height: 70px;
    font-size: 18px;
}

.button:hover {
    background-color: rgb(37, 36, 36);
}

.buttonContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.textInput {
    width: 100%;
    height: 70px;
    border-radius: 10px;
    margin-bottom: 50px;
    border: solid black 1px;
    text-indent: 20px;
    font-size: 15px;
}

.textOutput {
    border: solid black 1px;
    border-radius: 10px;
    width: 100%;
    height: 400px;
    background-color: white;
    margin-top: 50px;
    text-indent: 20px;
    font-size: 15px;
    color: black;
    padding: 20px 0px;
}

.quizButton { 
    display:flex;
    margin-top: 20px;
    gap: 10px;
}

.quizContainer {
    display: flex;
    width: 1120px;
    justify-content:right;
}